language: node_js
node_js:
- '4'
sudo: false
script:
- npm run lint
- npm test
after_success:
- npm run coveralls
env:
  global:
  - secure: pwCojzoAzIG9ZhAKNJi6KYfVkNpd6+zJG7fj6d6FPCEcw8nddnTa1qXlPgzLHERZBOpRZZtRVeHGIUKWJEbj0jq+LS8gXLASKm3HDbpZHWr1X+B8bSRqiqXif3l3bg0GaHefpMMV+AvFf37CfMn5tQBJtrE4mSTNHcwVTxs0Sqo=
deploy:
  provider: npm
  email: kristofer@sommestad.com
  api_key:
    secure: GBHAKhFa92scTx+Y1Ju5avlrGOHOeOmoBLe1tMO7VMR6GWb+YpCt7ijM15vD2/4slBms3b9WZ7sRk76MOErrZkVr7fv5kunomVaSf1QKJw1/hkr2YOx7r0x2WIeMD/TjjypvuQcVvs8aHbM1gC76pothpPxawZsAM3M9Ys3YBnk=
  on:
    tags: true
    repo: Springworks/hubot-tsheets
    all_branches: true
notifications:
  email: false
  slack:
    secure: Fz+OeKsRZcLJcQleJmkj7le6+GZt3phs07eP2rycZ1V7Nua2at5T+P76sCt8vdkRw0f1YR1DPduyGyzcbwJMctaGe99e0hNyxKW85RanloM2xF+FrTHpOrx/IFq6bXAirMaBuGImfHcLHOA81eNFvLrFYzSLtWAwjPHay7tygYE=
